<html>
<title> Add Questions </title>
<body>
<form action = "/addQuestions/" method = "post">
	{% csrf_token %}
	<a href="/accounts/register"> Register </a><br><br>
    <a href="/accounts/login"> login </a><br><br>
    <a href="/accounts/automatic">automatic</a><br><br>
	<label for="Q">Question:</label><br>
	<textarea id="Q" name = "question" rows="5" cols="50">
	</textarea><br><br>
	<label for="T">Time:</label><br>
	<input type="number" name="time" value="" id="T"><br><br>
	<label for="D">Difficulty:</label><br>
	<input type= "number" name="difficulty" value="" id="D"><br><br>
	<label for="M">Marks:</label><br>
	<input type= "number" name="marks" value="" id="M"><br><br>
	<label for="C">Chapter:</label><br>
	<select id="C" name = "chapter">
	  <option value="1">Python</option>
	  <option value="2">Java</option>
	  <option value="3">JavaScript</option>
	  <option value="4">PHP</option>
	  <option value="5">HTML</option>
	</select><br><br>

	<label for="I">Important:</label><br>
	<select id="I" name = "important">
	  <option value="True">Yes</option>
	  <option value= "False">No</option>
	</select><br><br>
	<input type="submit" name="submit" value="submit"><br>

</form>
</body>
</html>
