{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
     <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<div class="hero">

    <div class="navigation">
        <a class="logoutbutton" href="/accounts/logout">
            <img src="https://www.vippng.com/png/detail/0-2967_png-file-svg-logout-logo-png.png">
            <div class="logout">Logout</div>
        </a>
    </div>
   <div class="form-box">
         <div class="head-contianer">
             <div class="mainHeader-text"> Select Action </div>
		 </div>
      <div class="addCourse-container">
             <div class="addCourse-buttonContainer">
                <a href="/AddQuestions/addQuestions" class="addCourse-button"> Add questions </a><br><br><br>
                 <a href="/generateQuestionPaper/selectQuestionPreference" class="addCourse-button"> Generate Question paper </a><br><br><br>
                 <a href="/generateQuestionPaper/assignmentPreference" class="addCourse-button"> Generate Assignment </a><br><br><br>
</div>
   </div>
   </div>
</div>
</body>
</html>