{% load static %}
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Course Register</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<div class="hero">
    <div class="navigation">
        <a class="logoutbutton" href="/accounts/logout">
            <img src="https://www.vippng.com/png/detail/0-2967_png-file-svg-logout-logo-png.png">
            <div class="logout">Logout</div>
        </a>
    </div>
    <div class="form-box createC">
        <div class="head-contianer">
            <div class="mainHeader-text">Course Details</div>
        </div>
        <div style="text-align: center; font-weight:bold; margin-top: 25px;">
            {% if user.is_authenticated %}
            Hi, {{ user.first_name }} enter course details
            {% endif %}
        </div>

        <form action="studentCourseRegister" method="post" class="input-group">
            {% csrf_token %}

            <label for="C"></label><br>
            <input type="text" class="input-field" name="courseID" ID="C" placeholder="Course Id" required><br><br>
            <div class="addCourse-buttonContainer" style="text-align: center;">
                <input type="Submit" name="Submit" value="Register" class="addCourse-button">
            </div>
        </form>
    </div>

</div>
</body>
</html>