<% load static %>
  <html>
     <html lang="en">
     <head>
       <meta charset="UTF-8">
        <title>Main Page</title>
      <link rel="stylesheet" href="{% static 'styles/mainpage.css' %}">

     </head>
   <body>
       <header>
         <div class="row">
             <ul class="main-nav">
                 <li class="active"><a href="main.html"> Home </a> </li>
                 <li><a href="addQuestions.html"> Add Questions </a> </li>
                  <li><a href="displayQuestions.html"> Display Questions </a> </li>
                  <li><a href="QuestionPreference.html"> Question Preference</a> </li>


             </ul>
         </div>
       </header>
   </body>
</html>