<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="/accounts/logout"> Logout </a><br><br>

<a href="/accounts/createCourse"> Create course </a><br><br>

{% for profCourse in profCourses %}
    <form action = "AddQuestions/addQuestions" method = "post">
	{% csrf_token %}

	<input type="hidden" name="courseID" value= {{ profCourse.courseID }}><br><br>
	<input type="submit" name= {{ profCourse.courseName }} value={{ profCourse.courseName }}><br>
{% endfor %}


</body>
</html>