{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<div class="hero">
    <div class="navigation">
        <a class="logoutbutton" href="/accounts/logout">
            <img src="https://www.vippng.com/png/detail/0-2967_png-file-svg-logout-logo-png.png">
            <div class="logout">Logout</div>
        </a>
    </div>

    <div class="form-box">

        <div class="head-contianer">
            <div class="mainHeader-text">Course Creation</div>
        </div>
        <div class="addCourse-container">
            <div>Please click below to add a new course</div>
            <div class="addCourse-buttonContainer">
                <a href="/accounts/createCourse" class="addCourse-button"> Add Course </a><br><br>
            </div>
        </div>

        <div class="availableCourses-heading"> List of Available Courses</div>
         <div class="courseDetailButton">
        {% for profCourse in profCourses %}
            <a href={% url 'courseHome' courseID=profCourse.courseID%} class="addCourse-button">{{ profCourse.courseName }} </a>
        </div>

            {% endfor %}
    </div>
</div>
</body>
</html>
