{% load static %}
<html>
<head>
        <meta charset="UTF-8">
        <title>Adding Course</title>
         <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<form action="#" method="post">
    {% csrf_token %}
    <div class="hero">

          <div class="row">
            <ul class="main-nav">
                <li class="ele"><a href="/accounts/profHomePage"> Home </a></li>
                <li class="ele"><a href="/accounts/createCourse" class=""> Create Course </a></li>
                <li class="ele"><a href="/AddQuestions/addQuestions"> Add Questions </a></li>
                <li class="ele"><a href="/generateQuestionPaper/selectQuestionPreference"> Generate Question Paper </a></li>
                <li class="ele"><a href="/generateQuestionPaper/selectQuestionPreference"> Generate Assignment </a></li>
                <li class="ele"><a class="" href="/accounts/logout"> Log Out
                   {# <div class="">Logout</div>#}
                </a></li>
            </ul>
        </div>

        <div class="form-box">
            <div class="head-contianer">
                <div class="mainHeader-text">Select Preference</div>
            </div>
            <form action='/AddQuestions/addQuestions' method="post" class="input-group">
                {% csrf_token %}
                <div style="text-align: center; font-weight:bold; margin-top: 25px;">
                    {% if user.is_authenticated %}
                    Hi, {{ user.first_name }} Enter Preference
                    {% endif %}
                </div>
                <div align="center" class="add-que">
                   <select name="chapter" class="input-field">
                       <option value="" selected>Select Chapter</option>
                        <option value="1">Python</option>
                        <option value="2">Java</option>
                        <option value="3">JavaScript</option>
                        <option value="4">PHP</option>
                        <option value="5">HTML</option>
                    </select>
                    <input type="number" name="time" class="input-field" value="" placeholder="Total Time" required><br>
                    <select name="difficulty" placeholder=" Average Difficulty" class="input-field" required>
                        <option value="" selected>Select Difficulty</option>
                        <option value="1">Very Easy</option>
                        <option value="2">Easy</option>
                        <option value="3">Moderate</option>
                        <option value="4">Difficult</option>
                        <option value="5">Very Difficult</option>
                    </select>
                    <input type="number" name="marks" placeholder="Marks" class="input-field" required>
                    <input type="submit" name="submit" value="submit" class="addCourse-button">
                </div>

           </form>

           </div>
        </div>
</form>
</body>
</html>