{% load static %}
<html>
<head>
        <meta charset="UTF-8">
        <title>Adding Course</title>
         <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>
<form action="#" method="post">
    {% csrf_token %}
    <div class="hero">

          <div class="row">
            <ul class="main-nav">
                <li class="ele"><a href="/accounts/profHomePage"> Home </a></li>
                <li class="ele"><a href="/accounts/createCourse" class="active"> Create Course </a></li>
                <li class="ele"><a href="/AddQuestions/addQuestions"> Add Questions </a></li>
                <li class="ele"><a href="/generateQuestionPaper/selectQuestionPreference"> Generate Question Paper </a></li>
                <li class="ele"><a href="/generateQuestionPaper/selectQuestionPreference"> Generate Assignment </a></li>
                <li class="ele"><a class="" href="/accounts/logout">
                    <div class="">Logout</div>
                </a></li>
            </ul>
        </div>

        <div class="form-box">
            <div class="head-contianer">
                <div class="mainHeader-text">Select Preference</div>
            </div>
    <form action="#" method="POST">
        {% csrf_token %}
    <label for="T">Total Time : </label><br>
	<input type="text" name="time" value="" id="T"><br><br>
    <label for="D">Average Difficulty</label><br>
                    <select id="D" name="difficulty" placeholder="Difficulty"><br><br>
                        <option value="1">Very Easy</option>
                        <option value="2">Easy</option>
                        <option value="3">Moderate</option>
                        <option value="4" selected>Difficult</option>
                        <option value="5">Very Difficult</option>
                    </select><br><br>
	<label for="M">Total Marks : </label><br>
    <input type= "text" name="marks" value="" id="M"><br><br>
        <label for="C">Chapter</label><br>
     <select name="chapter">
         <option value="1">Python</option>
         <option value="2">Java</option>
         <option value="3">JavaScript</option>
         <option value="4">PHP</option>
         <option value="5">HTML</option>
     </select><br><br>
    <input type="Submit" name="Submit" value="Submit">
</form>
<div>
</div>
</body>
</html>