<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hi {{ student.first_name }}, This is student home page
<a href="/accounts/logout" class="addCourse-button">Logout </a><br><br>
<a href="studentCourseRegister" class="addCourse-button"> Register course</a><br><br>
 {% for studentCourse in studentCourses %}
     <a href={% url 'studentcourseHome' courseID=studentCourse.courseID%} class="addCourse-button">{{ studentCourse.courseName }} </a><br><br>
 {% endfor %}
</body>
</html>